:root {
    --dark-color: #4e4b42;  
    --background-color: #cdc8b0;
    --light-color: #b4af9a;
    --text-background-color: #dad4bb;
}

.NavBar {
    display: flex;
    flex-direction: row;
    margin: 50px 15% 50px 15%;
    justify-content: center;
}

#Container {
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    margin-right: 15%;
}

img {
    max-width: 100%;
    max-height: 100%; 
}

.NavBarButtonContainer {
    display: flex;
    align-items: center;
}

.NavBarButton {
    color: var(--dark-color);
    background-color: var(--light-color);
    border: 0px;
    font-size: calc(15px + 0.390625vw);
    letter-spacing: 2px;
    margin-left: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 40px;
    padding-right: 40px;
    transition: 0.3s;
    cursor: pointer;
}

.NavBarButton:hover {
    color: var(--text-background-color);
    background-color: var(--dark-color);
    margin-bottom: 20px;
    transition: 0.3s;
}

.Logo {
    cursor: pointer;
}

.Background {
    z-index: -1;
}

.SpotifyPlayer {
    width: 80px;
    height: 80px;
    transition: 0.5s;
    transition-delay: 2s;
    overflow: hidden;
}

.SpotifyPlayer:hover {
    width: 100%;
    transition-delay: 0s;
}

#MainContent {
    display: flex;
    flex-direction: row;
    margin: 5%;
}

.SidebarContainer {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
}

.Sidebar1 {
    background-color: var(--light-color);
    width: 18px;
    margin-right: 8px;
}

.Sidebar2 {
    background-color: var(--light-color);
    width: 6px;
}

h1 {
    color: var(--text-background-color);
    background-color: var(--dark-color);
    letter-spacing: 3px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 15px;
    width: 100%;
}

p {
    color: var(--dark-color);
    margin: 0px;
}

#Content {
    background-color: var(--text-background-color);
    padding: 10px 0px 10px 15px;
    width: 100%;
    font-size: calc(15px + 0.390625vw);
}

#Content:empty {
    padding: 0px 0px 0px 0px;
}

#ContentContainer {
    width: 100%;
}